
<!DOCTYPE html>
<html>
<head>
<title>Mortgage Calculator</title>
</head>
<body>
<h1>Mortgage Calculator</h1>
<p>
Use this calculator to estimate your monthly mortgage payments.
</p>
<br>
<form method="POST" action="/mortgage_calculator">
<label for="property_price">Property Price:</label>
<input type="number" name="property_price" id="property_price">
<br>
<label for="interest_rate">Interest Rate:</label>
<input type="number" name="interest_rate" id="interest_rate">
<br>
<label for="loan_term">Loan Term (in years):</label>
<input type="number" name="loan_term" id="loan_term">
<br>
<br>
<input type="submit" value="Calculate">
</form>
</body>
</html>


